# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://oxdvogfhrmfihofvtanw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

# Backend (Oracle FastAPI — keyinchalik)
NEXT_PUBLIC_BACKEND_URL=http://temporary

# Modal AI music endpoint (backend ulashtiriladi, frontend to'g'ridan-to'g'ri ishlatmaydi)
# MODAL_GENERATE_URL=https://iftikhor-coder--orhun-acestep-generate-endpoint.modal.run
